*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #99f2c8, #1f4037);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.calc {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output {
    height: 10rem;
    background-color: #edf2ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}

.input {
    font-size: 3rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
}

.grid-2-1 {
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-1-2 {
    grid-template-columns: 1fr 1fr 2fr;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    padding: 1rem;
    height: 8rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-small {
    background-color: #bac8ff;
}

.btn-small:hover {
    background-color: #91a7ff;
}

.btn-big {
    background-color: #748ffc;
}

.btn-big:hover {
    background-color: #5c7cfa;
}

@media (max-width: 500px) {
    .btn {
        font-size: 4rem;
        padding: 2rem;
    }
    .input {
        font-size: 4rem;
    }
    .calc {
        width: 75%;
    }
}